<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- hamburger menu toggle button -->
            <button type="button" class="navbar-toggle" (click)="menuCollapsed = !menuCollapsed">
                <!-- those are the 3 "patties" in the hamburger menu icon -->
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a [routerLink]="['/status']" class="navbar-brand">Twitch Bot</a>
        </div>
        <!-- close the menu automatically on window resize -->
        <div class="navbar-collapse" [class.collapse]="menuCollapsed" (window:resize)="menuCollapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/status']">Status</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/commands']">Command Management</a></li>
            </ul>
        </div>
    </div>
</div>